
<div class="content-tile col-1-2">
    <div class="wrapper">
       <a href="{{ idea.url }}">
            <div class="image-section" style="background-image: url('/assets/img/share.jpg');">
            </div>
            <div class="text-overlay">
                <div class="title-section">
                    <span>{{ idea.title }}</span>
                </div>
                <div class="summary-section">
                    <div class="text">
                        <span>{{ idea.summary }}</span>
                    </div>
                    <div class="button-area">
                        <button type="button" class="button"> <span> Read more </span> </button>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
