<div class="time-schedule">
    <h1>What will happen</h1>

    <div class="day-blob">
        <b>Friday:</b>
        <ul>
          <li> <span> 17:30 </span> Arrive, Drinks, Pizza</li>
          <li> <span> 18:30 </span> Keynote</li>
          <li> <span> 19:00 </span> Problem owner pitches</li>
          <li> <span> 20:00 </span> Form teams</li>
          <li> <span> 22:00 </span> Close</li>
        </ul>
    </div>
    
    <div class="day-blob">
        <b>Saturday:</b>
        <ul>
          <li> <span> 08:00 </span> Doors open </li>
          <li> <span> 08:30 </span> Breakfast </li>
          <li> <span> 09:00 </span> Hacking with your team and problem owners</li>
          <li> <span> 12:00 </span> Lunch </li>
          <li> <span> 17:00 </span> Guest speaker </li>
        </ul>
    </div>
    
    <div class="day-blob">
        <b>Sunday:</b>
        <ul>
          <li> <span> 08:00 </span>  Doors open </li>
          <li> <span> 09:00 </span>  Breakfast </li>
          <li> <span> 10:00 </span>  Dial in to <a href="https://www.aaronswartzday.org/sfhackathon/">San Fransisco</a> for a live
            interview with Barret Brown and others from the <a
                href="https://www.aaronswartzday.org/pursuance-project/">Pursuance Project</a></li>
          <li> <span> 15:30 </span>  Team presentations </li>
          <li> <span> 16:30 </span>  Awards Ceremony </li>
          <li> <span> 17:00 </span>  Drinks, Pizza </li>
        </ul>
    </div>
</div>