<div class="time-schedule">
    <h1 id="schedule">Schedule</h1>

    <div class="day-blob">
        <b>Friday:</b>
        <ul>
            <li> <span> 17:30 </span> Arrive, Drinks, Dinner </li>
            {% case page.city %}
              {% when 'brisbane' %}
                <li> <span> 18:15 </span> Monique Mann on <strong>ASS Access but not a backdoor</strong> </li>
                <li> <span> 18:35 </span> Angus Murray on <strong>IP and trade secrets and transparency</strong> </li>
                <li> <span> 18:55 </span> Tim Wilson-Brown on <strong>Working Together for Online Freedom</strong> </li>
              {% when 'melbourne' %}
                <li> <span> 18:15 </span> Scout Quinn on <strong>Opt Out Like Now</strong> </li>
                <li> <span> 18:35 </span> Chris Culnane on <strong>What if our trust assumptions are wrong?</strong> </li>
                <li> <span> 18:55 </span> Suelette Dreyfus on <strong>Assistance and Access Bill</strong> </li>
              {% else %}
                <li> <span> 18:15 </span> A series of engaging expert speakers covering the problems with the Assistance and Access (anti-encryption) Bill, transparency, MyHealthRecord, and trust.
                    See the <a href="./brisbane#schedule">Brisbane</a> and
                    <a href="./melbourne#schedule">Melbourne</a> pages for details.</li>
            {% endcase %}
            <li> <span> 19:15 </span> Pitching warm up </li>
            <li> <span> 19:45 </span> Pitches </li>
            <li> <span> 20:00 </span> Form teams </li>
            <li> <span> 22:00 </span> Close </li>
        </ul>
    </div>

    <div class="day-blob">
        <b>Saturday:</b>
        <ul>
            <li> <span> 08:00 </span> Doors open </li>
            <li> <span> 08:30 </span> Breakfast </li>
            <li> <span> 09:00 </span> Hacking with your team and problem owners</li>
            <li> <span> 12:00 </span> Lunch </li>
            <li> <span> 18:00 </span> Close </li>
        </ul>
    </div>

    <div class="day-blob">
        <b>Sunday:</b>
        <ul>
            <li> <span> 08:00 </span> Doors open </li>
            <li> <span> 09:00 </span> Breakfast </li>
            <!-- 16:30 on 10th Nov PDT (SF) is 11:30 on 11th Nov AEDT (MEL) is 10:30 on 11th Nov AEST (BNE) -->
            <li>
                {% case page.city %}
                  {% when 'brisbane' %}
                    <span> 10:30 </span>
                  {% when 'melbourne' %}
                    <span> 11:30 </span>
                {% endcase %}
                Live from <a href="https://www.aaronswartzday.org/sfhackathon/">San Francisco</a>:
                an interview with <a href="https://www.thoughtworks.com/insights/blog/criminalising-journalism">Barrett Brown</a> and Claire Peters on Barrett's new book and the
                <a href="https://www.aaronswartzday.org/pursuance-project/">Pursuance Project</a> + Q&A</li>
            <li> <span> 15:30 </span> Team presentations </li>
            <li> <span> 16:30 </span> Awards Ceremony </li>
            <li> <span> 17:00 </span> Drinks </li>
        </ul>
    </div>
</div>
