<div class="time-schedule">
    <h1 id="schedule">Schedule</h1>

    <div class="day-blob">
        <b>Friday:</b>
        <ul>
            <li> <span> 17:30 </span> Arrive, Drinks, Pizza </li>
            {% if page.city=='brisbane' %}
            <li> <span> 18:15 </span> Monique Mann on *ASS Access but not a backdoor* </li>
            <li> <span> 18:35 </span> Angus Murray on *IP and trade secrets and transparency* </li>
            <li> <span> 18:55 </span> Tim Wilson-Brown on *Working Together for Online Freedom* </li>
            {% elsif page.city=='melbourne' %}
            <li> <span> 18:15 </span> Talks from industry professionals. Check back soon to find out more.</li>
            {% else %}
            <li> <span> 18:15 </span> Talks from industry professionals.
                See the <a href="./brisbane#schedule">Brisbane</a> and
                <a href="./melbourne#schedule">Melbourne</a> schedules to find out more.</li>
            {% endif %}
            <li> <span> 19:15 </span> Pitching warm up </li>
            <li> <span> 19:45 </span> Pitches </li>
            <li> <span> 20:00 </span> Form teams </li>
            <li> <span> 22:00 </span> Close </li>
        </ul>
    </div>

    <div class="day-blob">
        <b>Saturday:</b>
        <ul>
            <li> <span> 08:00 </span> Doors open </li>
            <li> <span> 08:30 </span> Breakfast </li>
            <li> <span> 09:00 </span> Hacking with your team and problem owners</li>
            <li> <span> 12:00 </span> Lunch </li>
            <li> <span> 18:00 </span> Close </li>
        </ul>
    </div>

    <div class="day-blob">
        <b>Sunday:</b>
        <ul>
            <li> <span> 08:00 </span> Doors open </li>
            <li> <span> 09:00 </span> Breakfast </li>
            <li> <span> 10:00 </span> Dial in to <a href="https://www.aaronswartzday.org/sfhackathon/">San Francisco</a>
                for a live
                interview with Barrett Brown and others from the <a href="https://www.aaronswartzday.org/pursuance-project/">Pursuance
                    Project</a></li>
            <li> <span> 15:30 </span> Team presentations </li>
            <li> <span> 16:30 </span> Awards Ceremony </li>
            <li> <span> 17:00 </span> Drinks, Pizza </li>
        </ul>
    </div>
</div>
