---
---

@import "type-theme";

h1 {
  text-align: center;
}

input, textarea {
  display: block;
  margin: 0.5rem 0 1.5rem 0;
  width: 100%;
}

section.speakers-or-judges, .location, section.partners-or-sponsors {
  @extend %padding-regular;
  width: 100%;
  margin-bottom: 0;
  display: inline-block;
  border-bottom: 1px solid $border-color;

  p a {
    @extend .body-link;
  }
}

.speaker-or-judge + .speaker-or-judge {
  border-top: 1px solid $border-color;
  border-bottom: 0 !important;
  padding-top: 3rem;
}

.speaker-or-judge:not(:last-child) {
  padding-bottom: 2rem;
}

.speaker-or-judge, .partners {
  display: flex;

  h2 {
    font-size: 2.5rem;
    margin: 0 0 0.5em 0;
  }

  h3 {
    margin: 0;
    font-weight: 100;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
}

.speaker-or-judge > header {
  margin-right: 1.2rem;
  flex: 1;
}

.speaker-or-judge > div {
  flex: 3;
}

// Location & map
.location {
  display: flex;
}
.location .map {
  flex: 1;
}
.location .address {
  flex: 3;
  padding-left: 20px;
}

// Partners & Sponsors
.partners-or-sponsors {
  text-align: center;
}
.partners-or-sponsors .grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.org {
  width: 25%;
  flex: 0 1 auto;
}
.org img {
  max-height: 200px;
}

// Suggest an idea
/* Background pattern from Subtle Patterns - https://www.toptal.com/designers/subtlepatterns/ */
.posts .idea {
  background-image: url('/assets/img/darkness.png');
  background-size: auto;
  p, li, h1, label {
    color: white;
  }
}
