---
---

@import "type-theme";

h1 {
  text-align: center;
}

.center {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .hide-mobile {
    display: none;
  }
}


input, textarea {
  display: block;
  margin: 0.5rem 0 1.5rem 0;
  width: 100%;
}

section.speakers-or-judges, section.location, section.partners-or-sponsors {
  @extend %padding-regular;
  width: 100%;
  margin-bottom: 0;
  display: inline-block;
  border-bottom: 1px solid $border-color;

  p a {
    @extend .body-link;
  }
}

.speaker-or-judge + .speaker-or-judge {
  border-top: 1px solid $border-color;
  border-bottom: 0 !important;
  padding-top: 3rem;
}

.speaker-or-judge:not(:last-child) {
  padding-bottom: 2rem;
}

.speaker-or-judge {
  display: flex;
  flex-wrap: wrap;

  h2 {
    margin: 0 0 0.5em 0;
  }

  h3 {
    margin: 0;
    font-weight: 100;
    font-size: 1.25rem;
  }

  .Profile-image {
    img {
      float: none;
      width: 150px;
      border-radius: 50%;
    }
  }
}

.speaker-or-judge > header {
  margin-right: 1.2rem;
  flex: 1;
  min-width: 250px;
}

.speaker-or-judge > div {
  flex: 3;
  min-width: 250px;
}

.speaker-or-judge .pronoun {
  font-style: italic;
  font-size: smaller;
}

// Location & map
/* Background pattern from Subtle Patterns - https://www.toptal.com/designers/subtlepatterns/ */
.location {
  background: url('/assets/img/tiny_grid.png');
  background-size: auto;
}
.location-container {
  display: flex;
  flex-wrap: wrap;
}
.location-container .map {
  flex: 1;
  width: 50%;
  min-width: 300px;
  .google-map {
    width: 100% !important;
  }
}
.location-container .address {
  flex: 1;
  width: 50%;
  padding-left: 20px;
  min-width: 300px;
}

// Partners & Sponsors
.partners-or-sponsors {
  text-align: center;
}
.partners-or-sponsors .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.org {
  width: 23%;
  flex: 0 1 auto;
  border: 1px solid lightgrey;
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
}
.org img {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 125px;
}

// Suggest an idea
/* Background pattern from Subtle Patterns - https://www.toptal.com/designers/subtlepatterns/ */
.posts .idea {
  //background-image: url('/assets/img/darkness.png');
  background-color: #fafafa;
  background-size: auto;
  p, li, h1, label {
    color: $text-color;
  }
}
// Register interest
.posts .interest {
  background-image: url('/assets/img/darkness.png');
  background-size: auto;
  p, li, h1, label {
    color: white;
  }
}

#poneyhot-field, #poneyhot-label {
  display: none !important;
  opacity: 0 !important;
}

h4.order-count {
  text-transform: uppercase;
  text-align: center;
}

.order-count {
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
  -moz-transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
  transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

.order-count.visible {
  height: auto;
  opacity: 1
}
