// Header text feature
.call-out {
  display: inline-block;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: black;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
  animation: fadeIn 1s ease 1 0s normal forwards;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.call-out p:last-child {
  margin-bottom: 0;
}

#hackathon-title {
  font-size: 60px;
}

.black-tint {
  @extend %padding-regular;  
  background-color: rgba(0,0,0,0.6);
}

#hackathon-theme {
  font-size: 30px;
  font-style: italic; 
  margin-bottom: 0.2em;
  margin-top: 0.5em;
}

.container {
  margin: 3% 6%;
}

#brief-overview {
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#locations {
  font-size: 20px;
  font-weight: lighter;

  .event-title {
    font-size: 35px;
    font-weight: 500;
  }

  .event-date {
    margin: 0.5em;
  }
  
  .homepage-button {
    border-radius: 0.3em;
    border: 1px solid;
    color: white;
    border-color: white;
    display: inline-block;
    margin: 0.5em 0.5em;
    padding: 0.5em 0.75em;
  
    &:hover {
      background: $link-color;
      border: 1px solid $link-color;
      color: $background-color;
      text-decoration: none;
    }
  }
  .city-info {
    border: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
    margin: 0.5em;
  }
}

// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a {
      @extend .body-link;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
  @media (max-width: 600px) {
    padding: $padding-small;
  }
}
