---
layout: default
---
<div class="home">

  <div class="call-out" style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    <div class="{{ page.city }}-tint">
      <h1 id="hackathon-title">
        {{ site.theme_settings.title }}: {{site.theme_settings.subtitle }}
      </h1>
      <h4 id="hackathon-theme">
        {{ page.title }} - <nobr>{{ page.eventdate }}</nobr>
      </h4>

      <h4 id="brief-overview">
        {{ site.theme_settings.header_text }}
      </h4>
    </div>
  </div>

  <div class="posts">
    <div class="post-teaser">
      <header>
        <h1>RSVP</h1>
      </header>
      <div class="excerpt">{% capture rsvp %}{% include rsvp.md %}{% endcapture %}{{ rsvp | markdownify }}</div>
    </div>
  </div>

  <section class="location">
    <h1>Location</h1>
    <div class="location-container">
      <div class="map">
        {% google_map zoom="15" class="google-map" %}
      </div>
      <div class="address">
        <h2>{{ page.location.title }}</h2>
        {{ page.location.address }}
      </div>
    </div>
  </section>


  <a name="speakers" id="speakers"></a>
  <section class="speakers-or-judges">
    <h1>Speakers</h1>
    {% assign speaker_cities = site.speakers | map: "cities" | uniq %}
    {% unless speaker_cities contains page.city %}
    <p>Speakers TBA</p>
    {% endunless %}
    {% for person in site.speakers %}
    {% if person.cities contains page.city %}
    {% if person.headline %}
    {% include speaker_or_judge.html person=person %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% for person in site.speakers %}
    {% if person.cities contains page.city %}
    {% unless person.headline %}
    {% include speaker_or_judge.html person=person %}
    {% endunless %}
    {% endif %}
    {% endfor %}
    {% comment %}
    <h1>Judges</h1>
    {% for person in site.judges %}
    {% if person.cities contains page.city %}
    {% include speaker_or_judge.html person=person %}
    {% endif %}
    {% endfor %}
    {% endcomment %}
  </section>



  <div class="posts">
    <div class="post-teaser">
      <div class="excerpt">
        {% capture markdown %}{% include time-schedule.html %}{% endcapture %}{{ markdown | markdownify }}
      </div>
    </div>
  </div>

  <section class="partners-or-sponsors">
    <h1>Partners</h1>
    <div class="grid">
      {% for org in site.partners %}
      {% include partner_or_sponsor.html org=org %}
      {% endfor %}
    </div>
    <h1>Sponsors</h1>
    <div class="grid">
      {% for org in site.sponsors %}
      {% include partner_or_sponsor.html org=org %}
      {% endfor %}
    </div>
  </section>

  <div class="post-teaser idea">
    <header>
      <h1>Project ideas for the hackathon</h1>
    </header>
    <div class="excerpt">
      {% capture idea %}{% include ideas-current.md %}{% endcapture %}{{ idea | markdownify }}
    </div>
    <!--<div class="excerpt">{% capture idea %}{% include suggest_an_idea.md %}{% endcapture %}{{ idea | markdownify }}</div>-->
  </div>
  <div class="post-teaser reading-list">
    <header><h1>Reading material</h1></header>
    <ul>
      <li> <a href="https://medium.com/@AINowInstitute/ai-now-law-and-policy-reading-list-641368f09228">AI law and policy reading list</a></li>
      <li> <a href="https://socialmediacollective.org/reading-lists/critical-algorithm-studies">AI algorithm studies reading list</a></li>
    </ul>
  </div>
</div>

<div class="center"><a class="button" href="{{ page.rsvp_link}}">Register now</a></div>

<!--<div class="home">-->

<!--<div class="posts">-->
<!--&lt;!&ndash; <div class="post-teaser">-->
<!--<header><h1>RSVP</h1></header>-->
<!--<div class="excerpt center">{% capture rsvp %}{% include rsvp.md %}{% endcapture %}{{ rsvp | markdownify }}</div>-->
<!--</div> &ndash;&gt;-->
<!--<div class="post-teaser interest">-->
<!--<header><h1>Registration for Aaron Swartz Day 2018</h1></header>-->
<!--<div class="excerpt">{% capture interest %}{% include register_interest.md %}{% endcapture %}{{ interest | markdownify }}</div>-->
<!--</div>-->
<!--&lt;!&ndash; <div class="post-teaser idea">-->
<!--<header><h1>Suggest an idea</h1></header>-->
<!--<div class="excerpt">{% capture idea %}{% include suggest_an_idea.md %}{% endcapture %}{{ idea | markdownify }}</div>-->
<!--</div> &ndash;&gt;-->
<!--</div>-->

<!--<div class="call-out" style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">-->
<!--<div class="{{ page.city }}-tint">-->
<!--<h1 id="hackathon-title">-->
<!--{{ site.theme_settings.title }}: {{site.theme_settings.subtitle }}-->
<!--</h1>-->
<!--<h4 id="hackathon-theme">-->
<!--{{ page.title }} - <nobr>{{ page.eventdate }}</nobr>-->
<!--</h4>-->

<!--<h4 id="brief-overview">-->
<!--{{ site.theme_settings.header_text }}-->
<!--</h4>-->
<!--</div>-->
<!--</div>-->

<!--<a name="speakers" id="speakers"></a>-->
<!--<section class="speakers-or-judges">-->
<!--<h1>Speakers</h1>-->
<!--{% for person in site.speakers %}-->
<!--{% if person.cities contains page.city %}-->
<!--{% if person.headline %}-->
<!--{% include speaker_or_judge.html person=person %}-->
<!--{% endif %}-->
<!--{% endif %}-->
<!--{% endfor %}-->
<!--{% for person in site.speakers %}-->
<!--{% if person.cities contains page.city %}-->
<!--{% unless person.headline %}-->
<!--{% include speaker_or_judge.html person=person %}-->
<!--{% endunless %}-->
<!--{% endif %}-->
<!--{% endfor %}-->
<!--{% comment %}-->
<!--<h1>Judges</h1>-->
<!--{% for person in site.judges %}-->
<!--{% if person.cities contains page.city %}-->
<!--{% include speaker_or_judge.html person=person %}-->
<!--{% endif %}-->
<!--{% endfor %}-->
<!--{% endcomment %}-->
<!--</section>-->

<!--<section class="location">-->
<!--<h1>Location</h1>-->
<!--<div class="location-container">-->
<!--<div class="map">-->
<!--{% google_map zoom="15" class="google-map" %}-->
<!--</div>-->
<!--<div class="address">-->
<!--<h2>{{ page.location.title }}</h2>-->
<!--{{ page.location.address }}-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<!--<section class="partners-or-sponsors">-->
<!--<h1>Partners</h1>-->
<!--<div class="grid">-->
<!--{% for org in site.partners %}-->
<!--{% include partner_or_sponsor.html org=org %}-->
<!--{% endfor %}-->
<!--</div>-->
<!--<h1>Sponsors</h1>-->
<!--<div class="grid">-->
<!--{% for org in site.sponsors %}-->
<!--{% include partner_or_sponsor.html org=org %}-->
<!--{% endfor %}-->
<!--</div>-->
<!--</section>-->

<!--</div>-->