---
layout: default
---

<div class="home">

  <div class="call-out" style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
      <div class="black-tint">
        <div id="hackathon-title">
          {{ site.theme_settings.title }}
        </div>
        <div id="hackathon-theme">
          {{ page.title }} - {{ page.eventdate }}
        </div>

        <div id="brief-overview">
          {{ site.theme_settings.header_text }}
        </div>
    </div>
  </div>

  <div class="posts">
    <div class="post-teaser">
      <header><h1>RSVP</h1></header>
      <div class="excerpt">{% capture rsvp %}{% include rsvp.md %}{% endcapture %}{{ rsvp | markdownify }}</div>
      <div class="center"><a class="button" href="{{ page.rsvp_link}}">Register now</a></div>
    </div>
    <div class="post-teaser idea">
      <header><h1>Suggest an idea</h1></header>
      <div class="excerpt">{% capture idea %}{% include suggest_an_idea.md %}{% endcapture %}{{ idea | markdownify }}</div>
    </div>
  </div>

  <section class="speakers-or-judges">
    <h1>Speakers</h1>
    {% for person in site.speakers %}
      {% if person.cities contains page.city %}
        {% if person.headline %}
          {% include speaker_or_judge.html person=person %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% for person in site.speakers %}
      {% if person.cities contains page.city %}
        {% unless person.headline %}
          {% include speaker_or_judge.html person=person %}
        {% endunless %}
      {% endif %}
    {% endfor %}
    {% comment %}
      <h1>Judges</h1>
      {% for person in site.judges %}
        {% if person.cities contains page.city %}
          {% include speaker_or_judge.html person=person %}
        {% endif %}
      {% endfor %}
    {% endcomment %}
  </section>

  <section class="location">
    <h1>Location</h1>
    <div class="location-container">
      <div class="map">
        {% google_map zoom="15" class="google-map" %}
      </div>
      <div class="address">
        <h2>{{ page.location.title }}</h2>
        {{ page.location.address }}
      </div>
    </div>
  </section>

  <section class="partners-or-sponsors">
    <h1>Partners</h1>
    <div class="grid">
      {% for org in site.partners %}
        {% include partner_or_sponsor.html org=org %}
      {% endfor %}
    </div>
    <h1>Sponsors</h1>
    <div class="grid">
      {% for org in site.sponsors %}
        {% include partner_or_sponsor.html org=org %}
      {% endfor %}
    </div>
  </section>

</div>
