---
layout: default
---

<div class="home">

    <div class="call-out" style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
      <div class="home-tint">

      <h4 id="brief-overview">
        {{ site.theme_settings.header_text }}
      </h4>


      <div id="talk-videos">
        <h2>
          Watch talks from IFH: Defending Truth
        </h2>
        <iframe src="https://player.vimeo.com/video/270584609" width="480" height="270" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/271020618" width="480" height="270" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/271025691" width="480" height="270" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/271028495" width="480" height="270" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/271024249" width="480" height="270" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/270585593" width="480" height="270" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="posts">
    <div class="post-teaser interest">
      <header><h1>Registration for Aaron Swartz Day 2018</h1></header>
      <div class="excerpt">{% capture interest %}{% include register_interest.md %}{% endcapture %}{{ interest | markdownify }}</div>
    </div>
  </div>
  <div class="home-no-tint">
    {% capture videos %}{% include talk_videos.md %}{% endcapture %}{{ videos | markdownify }}
  </div>
</div>
