---
layout: default
---

<div class="home">

    <div class="call-out" style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
      <div class="home-tint">
      <h1 id="hackathon-title">
        {{ site.theme_settings.title }}: {{site.theme_settings.subtitle }}
      </h1>

      <h4 id="brief-overview">
        {{ site.theme_settings.header_text }}
      </h4>
      <div id="talk-videos">
        <h4 class="event-title">
          Watch the talks from Internet Freedom Hack: Defending Truth
        </h4>
        <iframe src="https://player.vimeo.com/video/270584609" width="480" height="270" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/271020618" width="480" height="270" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/271025691" width="480" height="270" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/271028495" width="480" height="270" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/271024249" width="480" height="270" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/270585593" width="480" height="270" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

  </div>
<div class="home-no-tint">
{% capture videos %}{% include talk-videos.md %}{% endcapture %}{{ videos | markdownify }}
</div>
</div>
